
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(135deg,#ffb923,#ffd16e);
    padding: 25px;
}
.App{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:"form result";
  padding: 25px;
  gap: 25px;
}
.error{
  position: absolute;
  text-align: center;
  background-color: red;
  padding: 10px 50px 10px 50px;
  color: black;
   top: 0;
  left: 0%;
  width: 100%;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}
.formDiv{
  grid-area:form;
}
form{
    background-color: #202020;
    height: 450px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.35);
    padding: 50px 50px;
    position: relative;
}
form *{
    border: none;
    outline: none;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}
input{
    display: block;
    height: 45px;
    width: 100%;
    background-color: #ffffff;
    color: #ffffff;
    padding: 0 15px;
    font-weight: 300;
    border-radius: 5px;   
    transition: 0.5s all;
}

label{
    display: inline-block;
    color: #e5e5e5;
    cursor: pointer;
    font-size: 12px;
    transition: 0.5s all;
}
.keyword{
  margin: 25px 0px 0px 0px;
}
#keyword{
    bottom: 305px;
}
label[for = "keyword"]{
    bottom: 360px;
}
.websiteUrl{
  margin: 25px 0px 0px 0px !important;
}
#websiteUrl{
    bottom: 195px;
}
label[for = "websiteUrl"]{
    bottom: 250px;
}
::placeholder{
    color: transparent;
}
.my-style::placeholder{
    color: #a5a5a5;
}
.startAimation{
  animation:startAnimation 1s ease-in-out infinite;
  font-size: 16px;
  letter-spacing: 0.8px;
}
@keyframes startAnimation{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
button{
    width: 100%;
    bottom: 75px;
    padding: 15px 0;
    background-color: #ffb923;
    color: #ffffff;
    border-radius: 5px;
    margin:75px 0px 0px 0px;
    cursor: pointer;
}
@media screen and (max-width:1028px){
 .App{
  grid-template-columns:1fr 1fr;
   grid-template-areas:"form result"
}
}
@media screen and (max-width:800px){
 .App{
  grid-template-columns:1fr;
  grid-template-rows:repeat(2,1fr);
   grid-template-areas:"form form"
     "result result"
}
.data{
  width: calc(100% - 0px);
}
}